/*
Theme Name: Journalist
Theme URI: http://lucianmarin.com/
Description: Journalist is a smart, minimal theme designed for professional journalists.
Version: 1.9
Author: <a href="http://lucianmarin.com/">Lucian E. Marin</a>
Tags: white, two columns, fixed width, light, minimal
For the WordPress community (GPL), enjoy it guys.
by Lucian E. Marin - lucianmarin.com
*/

body {
background:#fff url("images/top.gif") repeat-x;
font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
font-size:13px;
color:#222;
padding:0;
margin:0;
}

* {
padding:0;
margin:0;
}

a {
color:#047;
text-decoration:underline;
}

a:hover {
color:#c00;
}

#container {
width:911px; /* this has nothing to do with the '911' event */
margin:0 auto;
position:relative;
}

#container h1 {
font-size:30px;
font-weight:normal;
letter-spacing:-1px;
width:600px;
padding:32px 0 25px 0;
}

#container h1 a {
color:#222;
text-decoration:none;
}

#container h1 a:hover {
color:#c00;
}

#bubble {
top:40px;
right:0;
position:absolute;
display:block;
height:28px;
background:url(images/bubble_right.gif) no-repeat right;
}

#bubble p {
display:block;
font-size:11px;
color:#fff;
height:28px;
padding:4px 12px 0 10px;
background:url(images/bubble_left.gif) no-repeat top left;
}

#content {
float:left;
width:700px;
}

#content h2 {
font-size:20px;
margin:5px 0 7px 0;
}

#content h2 a {
color:#222;
text-decoration:none;
}

#content h2 a:hover {
color:#c00;
}

#content h2.archive {
font-weight:normal;
font-size:22px;
color:#1c1c1c;
padding:0;
margin:5px 0 20px 0;
border:none;
text-align:left;
}

.comments {
color:#333;
margin:0 0 15px 0;
border-bottom:#bbb 1px solid;
}

.comments a {
background:#fff;
padding:0 7px 5px 0;
color:#333;
text-decoration:none;
}

.comments a:hover {
color:#c00;
}

.navigation {
background:#f9f9f9;
font-size:11px;
padding:5px 10px;
margin:0 0 20px 0;
border-top:#bbb 1px solid;
}

.navigation a {
color:#555;
font-weight:bold;
text-decoration:none;
}

.navigation a:hover {
color:#333;
text-decoration:none;
}

.main h3 {
font-size:16px;
font-weight:normal;
margin:0 0 15px 0;
}

.main img {
padding:2px;
border:none;
}

.main a img {
padding:2px;
border:none;
}

.main a:hover img {
padding:2px;
border:none;
}

.main p {
line-height:18px;
margin:0 0 15px 0;
}

.main ol {
line-height:18px;
margin:0 0 15px 30px;
}

.main ul {
line-height:18px;
margin:0 0 15px 30px;
}

.main li {
margin:0 0 5px 0;
}

.meta {
background:#f3f3f3;
font-size:11px;
line-height:15px;
color:#333;
padding:5px 10px;
margin:0 0 30px 0;
border-top:#bbb 1px solid;
}

.signature {
float:left;
padding:0 15px 0 0;
border-right:#bbb 1px solid;
width:200px;
}

.tags {
float:left;
padding:0 0 0 15px;
width:440px;
}

#sidebar {
font-size:12px;
float:right;
width:180px;
border-left:#999 1px solid;
padding:0 0 20px 15px;
margin:0 0 20px 0;
/* customized for menu floating */
position:relative;
top:0px;
}

#sidebar h3 {
font-size:14px;
margin:20px 0 5px 0;
}

#sidebar ul {
list-style:none;
}

#sidebar ul ul {
margin:5px 0 0 10px;
}

#sidebar ul ul ul {
margin:5px 0 0 10px;
}

#sidebar ul li {
padding:0 0 5px 0;
}

#author h3 {
margin:5px 0 5px 0;
}

#searchform {
margin:15px 0 0 0;
}

#searchform input {
background:#222;
font-size:11px;
margin:2px 0;
padding:1px 4px 2px 4px;
border:#888 1px solid;
color:#eee;
}

#searchform input:hover {
background:#333;
border:#999 1px solid;
color:#fff;
cursor:pointer;
}

#searchform #s {
background:#f6f6f6;
font-size:11px;
margin:2px 0;
padding:2px 4px;
border:#aaa 1px solid;
color:#222;
}

#searchform #s:hover {
border:#c00 1px solid;
cursor:text;
}

input.searchfield {
background:#f6f6f6;
font-size:11px;
display:block;
margin:5px 0 8px 0;
padding:2px 4px;
border:#aaa 1px solid;
color:#222;
}

input.searchfield:hover {
background:#eee;
color:#222;
}

input.submit {
background:#222;
font-size:11px;
display:block;
margin:0 0 10px 0;
padding:1px 4px 2px 4px;
border:#888 1px solid;
color:#eee;
}

input.submit:hover {
background:#333;
cursor:pointer;
border:#999 1px solid;
color:#fff;
}

input.subcom {
background:#eee;
font-size:11px;
margin:0 0 10px 0;
padding:1px 4px 2px 4px;
border:#888 1px solid;
color:#222;
}

input.subcom:hover {
background:#222;
cursor:pointer;
border:#888 1px solid;
color:#eee;
}

input.comment {
background:#f6f6f6;
font-size:11px;
padding:2px 4px;
border:#aaa 1px solid;
color:#222;
}

input.comment:hover {
border:#c00 1px solid;
}

textarea {
background:#f6f6f6;
font-size:12px;
width:400px;
padding:2px 4px;
border:#aaa 1px solid;
color:#222;
}

textarea:hover {
border:#c00 1px solid;
}

.postinput small {
font-size:11px;
margin:0 0 0 5px;
}

p.logged {
font-size:12px;
}

h3.reply {
font-size:15px;
margin:0 0 10px 0;
}

.nocomments {
margin:0 0 30px 0;
}

ol.commentlist {
font-size:12px;
list-style:none;
margin:10px 0 30px 0;
border-bottom:#bbb 1px solid;
}

.commentlist li {
border-top:#bbb 1px solid;
padding:0 0 10px 0;
}

.commentlist li.bypostauthor {
border-top:#bbb 5px solid;
background-color:#f3f3f3;
}

.comment_mod {
margin:10px 0 0 10px;
}

.comment_mod em {
background-color:#fff897;
padding:1px 3px;
}

.comment_author {
margin:10px 0;
float:right;
width:190px;
}

.comment_author img {
float:left;
margin:5px 12px 0 0;
}

.comment_author p {
line-height:20px;
}

.comment_author small {
font-size:11px;
}

.comment_text {
float:left;
width:470px;
margin:0 0 0 10px;
}

.comment_text p {
line-height:18px;
margin:7px 0;
}

.comment_meta {
font-size:12px;
}

#commentform p {
line-height:18px;
margin:0 0 15px 0;
}

blockquote {
background:url(images/quote.gif) no-repeat top left;
padding:0 0 0 60px;
min-height:50px;
}

#footer {
background:#eee;
font-size:11px;
color:#555;
margin:0 auto;
padding:10px 0;
text-align:center;
position:relative;
border-top:#bbb 1px solid;
border-bottom:#222 6px solid;
}

#footer a {
color:#555;
font-weight:bold;
text-decoration:none;
}

#footer a:hover {
color:#333;
text-decoration:none;
}

.clear {
clear:both;
}

.warning p {
background:url(images/warning.gif) no-repeat left;
height:160px;
padding:20px 0 0 90px;
font-size:20px;
margin:0 0 0 10px;
}

#wp-calendar {
padding:10px 0 0 0;
font-size:12px;
}

#wp-calendar caption {
text-align:left;
padding:0 0 5px 0;
}

#wp-calendar tr th,
#wp-calendar tr td {
padding:0 6px 0 0 ;
text-align:right;
}

#wp-calendar td a {
font-weight:bold;
}

#wp-calendar td a:hover {
font-weight:bold;
}

img.wp-smiley {
padding:0;
border:none;
}

input:focus, textarea:focus{
background-color:#ffc;
}

abbr {
border:none;
}

.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}

.alignleft {
float:left;
}

.alignright {
float:right;
}

.wp-caption {
border:1px solid #ddd;
text-align:center;
background-color:#f3f3f3;
padding-top:4px;
margin:10px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

.wp-caption img {
margin:0;
padding:0;
border:0 none;
}

.wp-caption-dd {
font-size:11px;
line-height:17px;
padding:0 4px 5px;
margin:0;
}

/* self-clear floats */

.group:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

/* IE Hacks */

*html #bubble {
display:none;
}

*html #bubble p {
display:none;
}

* html .group,
* html #nav ul li a {
height: 1%;
}

*:first-child+html .group {
min-height: 1px;
}

* html #nav ul li a {
display: inline;
}

/* customizations to journalist stylesheet */
.script .dropdownclick {cursor:pointer;}
.script .dropdownbox > div {display:none;}
table:hover abbr, p:hover abbr {color:blue;text-decoration:underline;}

/* customization for drop down menu */
#loginslider {display:none;position:absolute;top:68px;font-size:90%;left:700px;width:185px;background-color:silver;padding:10px;border: 2px solid #999;z-index:100;}
#loginslider label {float:right;}
#loginslider input {width:100px;}
#loginslider a {position:absolute;top:54px;left:18px;}
#wp-submit {float:right;margin-top:5px;}

/* customization for dl items. */
dt {font-size:11pt;font-weight:bold;margin-top:8px;margin-bottom:6px;}
dd {margin-left:10px;margin-bottom:4px;width:600px;}

/* Added for Horizontal Scrolling and Folding */
.scroller-header a {
	text-decoration:none;
	color:#867863;
	padding:0 2px;
}
.scroller-header a:hover {
	text-decoration:none;
	color:#4b412f;
}
.scroller-header {
	width:685px;
	height:24px;
	padding:10px 0px 10px 5px;
	font-weight:700;
}
.scroller-header div.title {
  display: inline;
  font-weight: bold;
  font-size: 150%;
}
.scroller-header div.options {
  float: right;
  margin-top: 5px;
  padding-right: 5px;
}
.scroller-header div.options a {
  padding: 10px;
}
.scroller-body {
	width:685px;
	padding: 5px;
	border:1px black solid;
}
.frame {
	width:680px;
}
.panel {
	width:680px;
  padding:3px;
}
.panel-code {
	width:674px;
}
.panel-code650 {
	width:644px;
}
.panel-code620 {
  width:614px;
}
.slider {
  margin:0;
  padding:0;
}
.mask {
	width:680px;
	overflow:hidden;
	margin:0 auto;
}
.panel div {
  float:left;
}
.clear {
  clear: both;
}

/* Customization of tables for labs. */
.table_definition {font-size:8pt;white-space:nowrap;border-spacing:1px;}
.table_definition .table_row {height:30px;}
.table_definition td {padding:2px;margin:1px;background:#DBE5F1;}
.table_definition th {padding:2px;margin:1px;background:#8DB3E2;}
.table_nameh {text-align:left;vertical-align:middle;}
.column_nameh {vertical-align:middle;width:180px;}
.constrainth {vertical-align:middle;height:20px;}
.constraint_typeh {width:80px;height:20px;}
.constraint_tableh {width:125px;height:20px;}
.constraint_columnh {width:125px;height:20px;}
.constraint_data_typeh {width:60px;height:20px;}
.constraint_physical_sizeh {width:60px;height:20px;}

/* Customization of tables for join sample. */
.joins_index_columnh {width:18px;}
.joins_index_column {background:midnightblue !important;color:white;width:18px;}
.joins_id_column {width:60px;}
.joins_data_column {width:75px;}
.joins_id_null {background:darkcyan !important;color:white;font-style:italic;width:60px;}
.joins_data_null {background:darkcyan !important;color:white;font-style:italic;width:60px;}
/* Added customizations for mapping to Venn Diagrams */
.right_join_result {background:rgb(254,125,125) !important;}
.left_join_result {background:rgb(153,185,228) !important;}
.inner_join_result {background:rgb(205,91,125) !important;}

/* Customization of tables for PHP Tutorials. */
.phptable_def {font-size:8pt;text-align:center;white-space:normal;width:650px;border-spacing:1px;}
.phptable_def .table_row {height:30px;}
.phptable_def td {padding:2px;margin:1px;background:#DBE5F1;}
.phptable_def th {padding:2px;margin:1px;font-weight:bold;background:#8DB3E2;}
.phpoperator {width:50px;text-align:center;}
.phpopdescription {width:600px;text-align:left;}
