/********************************************
   HTML ELEMENTS
********************************************/ 

/* top elements */
* { margin:0; 	padding: 0; }

body {
	margin: 0; padding: 0;
	font: 70%/1.5em  Verdana, Tahoma, Arial,sans-serif;
	color: #333; 
	background:url(Stu.gif);
	text-align: center; 
}

/* links */
a {
	color: #F9864D; 
	background-color: inherit;
	text-decoration: none;
}
a:hover {
	color: #575757;
	background-color: inherit;
}

/* headers */
h1, h2, h3 {
	font-family: 'Trebuchet MS', Tahoma, Verdana, Sans-serif;
	font-weight: Bold; 		
}
h1 {
	font-size: 145%;	
	padding: 10px 10px 5px 10px;
	color: #A7A9AC;
	background-color: inherit;
	border-bottom: 1px solid #EFF0F1;		
}
h2 {
	font-size: 125%;
	text-transform: uppercase;
}
h3 {
	font-size: 125%;	
	color: #404040;
}

h2, h3, p {
	padding: 10px;		
	margin: 0;
}

/* images */
img.border {
	border: 3px solid #D5D5D5;
}
img.float-right {
  margin: 5px 0px 5px 10px;  
}
img.float-left {
  margin: 5px 10px 5px 0px;
}

#sidebar h1, 
#sidebar p {
	padding-left: 0;
}

ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}

code {
  min-width:50%;
  margin: 3px 5px;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
  background: #FFF;
  border-left: 1px solid #f2f2f2;
  color: #000000;  
}

acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}
blockquote {
	margin: 20px;
 	padding: 5px 10px 5px 32px;  	
  	background: #FAFAFA;
	background-position: 8px 10px;
	border: 2px solid #f2f2f2; 
	border-left: 1px dashed #FF9966;   
}

/* form elements */
form {
	margin:2px; padding: 5px;
	border: 1px solid #f2f2f2; 
	background-color: #FAFAFA; 
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
input {
	padding: 3px;
	border:1px solid #eee;
	font: normal 1em Verdana, sans-serif;

}
textarea {
	width:350px;
	padding:3px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}
input.button { 
	margin: 0; 
	font: bolder 12px Verdana, Sans-serif; 
	border: 1px solid #CCC; 
	padding: 2px 3px; 
	background: #F30;
	color: #FF9966;
}

/* search form elements */

.search form {
	margin:0px;
	padding: 5px;
	border: 2px solid #FF0;
	background-color: #FFFFCC;
	background-image: none;
}
.search input{
	font: bolder 12px Verdana, Sans-serif;
	border: 1px solid #CCC;
	background-color:none;
	color: #333333;
	margin-bottom:5px;
	margin-left:6px;
	height: 25px;
}


/* footer form elements */
.fbg form {
	margin:0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.fbg textarea {
	width:0px;
	padding:3px;
	font: normal 1em Verdana, sans-serif;
	border:#DADADA solid 1px;
	height:50px;
	display:block;
	color:#777;
	background-color: #F5F5F5;
}
input.button { 
	margin: 0; 
	font: bolder 12px Verdana, Sans-serif; 
	border: 1px solid #CCC; 
	padding: 2px 3px; 
	background: #FFF;
	color: #FF9966;
}

/*banner ad */
.bannerad {
	position: absolute;
	top: 5px; right: 0px; padding-bottom:5px; margin: 0;
	border: none;
	background-color: transparent; 
}

.mainbanner {
	padding: 10px;
}

/**************************************
   LAYOUT 
***************************************/	
#wrap {
	margin: 0 auto; 
	width:960px;
	text-align: left;
	background-color:white;
	border:solid;
	padding:0px 10px 0px 10px;
	border:0px solid #F9864D;
}

/* header */
#header { 
	position: relative;
	height: 70px; 
	margin: 0; padding: 0;
	background: url(bg.gif) repeat-x;	
	color: #A7A9AC; 
}
#header h1#logo {
	position: absolute;	
	font: bold 3.9em "trebuchet MS", Arial, Tahoma, Sans-Serif;
	margin: 0; padding:0;
	color: #F9864D;
	letter-spacing: -2px;	
	border: none;	
	
	/* change the values of top and Left to adjust the position of the logo*/
	top: 0; left: 2px;		
}
#header h1#logo span { color: #A7A9AC; }

#header h2#slogan { 
	position: absolute;
	margin: 0; padding: 0;	
	font: bold 12px Arial, Tahoma, Sans-Serif;	
	text-transform: none;
	/* change the values of top and Left to adjust the position of the slogan*/
	top: 50px; left: 61px;
}

#header .fl_left{
	display:block;
	float:left;
	width:400px;
	margin:0px 0 0 0;
	}

#header .fl_right{
	display:block;
	float:right;
	width:468px;
	}

/* menu */
#menu {
	clear: both;
	background: #FF9966 url(menubg.gif) repeat-x;
	height: 30px;
	margin: 0;
	font: bolder 1.2em/30px Tahoma, Verdana, Arial, Sans-Serif;		
}
#menu ul{
	margin: 0; padding: 0 0 0 8px;
}
#menu ul li {
	float: left;
	list-style: none;		
	border-right: 1px solid #FFA500;
}
#menu ul li a {
	display: block;
	text-decoration: none;	
	padding: 0 15px;
	color: #FFF;	
}
#menu ul li a:hover {
  	color: #333;	
	background: url(menu-hover-bg.gif) repeat-x;
}
#menu ul li#current a {
	color: #333;
	background: url(menu-current-bg.gif) repeat-x;	
}

/* sidebar */
#sidebar {
	float: left;
	width: 17%; 
	margin: 0;	padding: 0; 
	display: inline;
}
#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 0 0 7px 0; padding: 0;
	text-decoration: none;	
}
#sidebar ul.sidemenu li {
	border-bottom: 1px solid #EFF0F1;	
	background: url(arrow.gif) no-repeat 3px 6px;	
	padding: 2px 5px 2px 20px;
}

* html body #sidebar ul.sidemenu li { height: 1%; }

#sidebar ul.sidemenu li a {
	font-weight: bolder;
	background-image: none;
	text-decoration: none;	
}

#rightbar {
	float: right;
	width: 24%;
	padding: 0;
	margin: 0;	
}

/* main column */
#main {
	float: left;
	margin: 0 0 0 15px;
	padding: 0;
	width: 56%;	
}

#main h1{
background-image:url(menu-current-bg.gif);
border: 1px solid #f2f2f2; 
margin:10px; padding: 5px;
border: 1px solid #f2f2f2; 
background-color: #FAFAFA;
font-size: 110%; 
color:grey;
}



#main ol{color:#F9864D}

	


.post {
	margin-bottom: 15px;
	padding: 15px;
	border: 1px solid #FC9;
	background-color: #FDFDFD;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #000000;
}

.post .title a {
	color: #A7430F;
	border: none;
}

.post .title a:hover {
	text-decoration:underline;
}

.post .meta {
	height: 30px;
	border-bottom: 1px solid #E9E3CB;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
	height: 24px;
	padding: 3px 0px;
	color: #464032;
}

.post .meta .posted {
	float: right;
	height: 24px;
	padding: 5px 15px 0px 15px;
	background: #F5F5F5;
	color: #464032;
}

.post .meta a {
	color: #464032;
}
.post .meta .posted a{
 text-decoration:underline;
}

.post .meta .posted a:hover{
 text-decoration:none;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.post .entryad {
	padding: 0px 0px 20px 10px;
	padding-bottom: 20px;
	float:right;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* footer */
#footer { 
	clear:both;
	color: #666666; 	
	padding: 0;	 
	background: #FFF url(footerbg.gif) repeat-x;
	height: 60px;
}
#footer a{ 
	text-decoration: none; 
	font-weight: bold;
}
#footer-content {
	margin: 0 auto;
}
#footer-content #footer-left {
	padding:10px;
	width: 25%;
	float: left;
	text-align: left;
	border:0;
}
#footer-content #footer-right {
	padding: 10px;
	width: 70%;
	float: right;
	text-align:right;
}

.footeradvt {
	clear:both;
	margin-top:10px;
	margin-bottom:10px;
	padding: 10px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #EBEBEB;
	border-bottom-color: #EBEBEB;
}

.solquestion{
	clear:both;
	margin-top:10px;
	margin-bottom:10px;
	padding: 10px;
	border: solid 2px;
	border-color: #EBEBEB;
	background-color:#FFFFFF;
	font-size: 12px;
	color:#000;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

/* additional classes */
.clear  { clear: both; }
.green  { color: #75A54B; }
.page{padding:5px; border:double; border-color:#666666; text-decoration:underline}

/* table data */

#main td{
background-color: #FAFAFA;
padding: 5px; margin: 15px 10px 10px 10px;
border: 1px solid #f2f2f2; 
font-size: 95%;
}

#tutorial td{
border-bottom: 1px #CCCCCC solid;
border-left:1px #CCCCCC solid; 
}





#main th{
	background-image:url(a3.gif);
	color: grey;
	padding: 5px;
	margin: 15px 10px 10px 10px;
	border: 1px solid #f2f2f2;
	font-size: 110%;
	text-align:left;
}

#main th a{color:grey;}
#main th a:hover{color: #F9864D; 
	background-color: inherit;
	text-decoration: none;}

#tutorial{background-color: #FAFAFA}

#tutorial h1{color: #F9864D; 
font-size: 125%;
margin-top:10px; padding: 5px;
background-color: #FAFAFA; 
border:none;
text-align:center;
font-weight:bold;
}

#tutorial h2{text-transform:none}

#tutorial blockquote{margin: 10px;
 	padding: 5px 10px 5px 32px;  	
  	background: #FAFAFA;
	background-position: 8px 10px;
	border: 1px solid #f2f2f2; 
	border-left: 2px solid #FF9966;   }



#main th.center {
	text-align:center;
}

pre{font-size:14px}
.comment { color: #999999; font-style: italic; }
.pre { color: #000099; }
.string { color: #009900; }
.char { color: #009900; }
.float { color: #996600; }
.int { color: #999900; }
.bool { color: #000000; font-weight: bold; }
.type { color: #FF6633; }
.flow { color: #FF0000; }
.keyword { color: #990000; }
.operator { color: #663300; }


.flashunit {
	padding: 4px;
	background: #fff;
	border: 4px solid #ddd;
	margin: 10px auto;
	width: 425px;
}
.flashunit h2 {
	font: 18px normal Arial, Helvetica, sans-serif;
	border: 1px solid #ddd;
	background: #f0f0f0;
	margin: 0;
	padding: 10px;
	color: #111;
	text-align: center;
}
.flashunit p {
	font: 12px normal Arial, Helvetica, sans-serif;
	padding: 10px;
	margin: 0;
	border: 1px solid #ddd;
	background: #f0f0f0;
}
object.flashvideo {
	width: 100%;
	height:350px;
}

#search{padding-top:15px;float:right; padding-right:10px;}
#toplink{float:right; padding-right:10px;}



.accordion_ad{width: auto;
	border-bottom: none;
	background: #F0F0F0;
	padding: 7px 0px 10px 10px;
	margin: 0;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
	line-height: 100%;
	}
.accordion {
margin: 2px auto;
	width: 510px;
	border-bottom: solid 1px #c4c4c4;
}
.accordion h3 {
	padding: 7px 15px;
	margin: 0;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	line-height: 100%;
	font-weight: normal;
	background-color: #F0F0F0;
	background-image: url(arrow-square.gif);
	background-repeat: no-repeat;
	background-position: right -51px;
}
.accordion h3:hover {
	background-color: #e1e1e1;
}
.accordion h3.active {
	background-position: right 5px;
}
.accordion p {
	background: #fafafa;
	margin: 0;
	padding: 10px 15px 20px;
	border-left: solid 1px #c4c4c4;
	border-right: solid 1px #c4c4c4;
}



#ass_ad {
	position:absolute;
	left: 670px;
	width: 180px;
	top:268px;
	height: 260px;
	background-color:#E0E0E0;
	border:solid; 	border-width:thin;
	border-color:#D5D5D5;
	color:#070707;
}
#ass_ad .tut_ad {
	width: 180px;
	height: 100px;
	background-color:#FFFFFF;
	line-height:normal;
	padding-top:10px;
}
#ass_ad .tut_ad a.line{text-decoration:underline;}

hr {
	border: thin  solid #EBEBEB;
}

.fbg {
	clear:both;
	padding:20px 0;
	border-top: #DADADA solid 1px;
	background: #F9F9F9;
	line-height:18px;
}
.fbg_resize {
	margin:0 auto;
	padding:0 20px;
	width:930px;
}
.fbg h2 {
	color: #F9864D;
}
.fbg img {
	padding:4px;
	border:1px solid #cfd2d4;
	float:left;
	background-color:#fff;
}
.fbg a {
	color:#F9864D;
}
.fbg p {
	color: #666;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 14px 0 0;
	width:266px;
	border-right:dashed #CCCCCC 1px;
}
.fbg .c2 {
	padding:0 14px;
	width:320px;
	border-right:dashed #CCCCCC 1px;
}
.fbg .c3 {
	padding:0 0 0 14px;
	width:280px;
	background:none;
}
.fbg .c1 img {
	margin:8px 16px 8px 0;
}
.fbg .c3 img {
	margin:8px 16px 4px 0;
	float:left;
}

.footer {
	background:#3d3d3d;
	color:#CCCCCC;
}
.footer_resize {
	margin:0 auto;
	padding:20px 0;
	width:930px;
	font-size:12px;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
}
.footer a {
	color:#FFF;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

.sidebox, .tutbox{
	float: left;
	border: 1px solid #CCC;
	text-align:justify;
	background-color: #F9F9F9;
	background-image: url(a3.gif);
	background-repeat: repeat-x;
}
.sidebox h3, .tutbox h3{
	padding-bottom:5px;
	border-bottom: solid #CCCCCC 1px;
	color:#F9864D;
}

.sidebox{
	height: 265px;
	width:235px;
	margin-top: 20px;
	margin-right: 9px;
	margin-bottom: 10px;
	margin-left: 15px;
}

.tutbox{
	height: 200px;
	width:170px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 8px;
	margin-left: 2px;
}

.tutbox ul{
	list-style-type: none;
	line-height: 19px;
	color: #36F;
	text-decoration: underline;
	text-align: left;
	display: block;
	margin-left: 0px;
}

.rightbox {
	float: left;
	width:96%;
	text-align:justify;
	margin-top: 20px;
	background-color:#FFF;
	padding-top: 10px;
	padding-left: 8px;
	padding-bottom: 10px;
}
.rightbox h3{
	font-family: "Bradley Hand ITC";
	font-size: large;
	text-align: left;
	color: #000000;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#htmltagcloud{line-height:2.4em;word-spacing:normal;letter-spacing:normal;text-transform:none;text-align:justify;text-indent:0;padding-right:5px;}
#htmltagcloud a:link{text-decoration:none}
#htmltagcloud a:visited{text-decoration:none}
#htmltagcloud a:hover{color:white;background-color:#05f}
#htmltagcloud a:active{color:white;background-color:#03d}
.wrd{padding:0;position:relative}
.wrd a{text-decoration:none}
.tagcloud0{font-size:1.0em;color:#ACC1F3;z-index:10}
.tagcloud0 a{color:#ACC1F3}
.tagcloud1{font-size:1.4em;color:#ACC1F3;z-index:9}
.tagcloud1 a{color:#ACC1F3}
.tagcloud2{font-size:1.8em;color:#86A0DC;z-index:8}
.tagcloud2 a{color:#86A0DC}
.tagcloud3{font-size:2.2em;color:#86A0DC;z-index:7}
.tagcloud3 a{color:#86A0DC}
.tagcloud4{font-size:2.6em;color:#607EC5;z-index:6}
.tagcloud4 a{color:#607EC5}
.tagcloud5{font-size:3.0em;color:#607EC5;z-index:5}
.tagcloud5 a{color:#607EC5}
.tagcloud6{font-size:3.3em;color:#4C6DB9;z-index:4}
.tagcloud6 a{color:#4C6DB9}
.tagcloud7{font-size:3.6em;color:#395CAE;z-index:3}
.tagcloud7 a{color:#395CAE}
.tagcloud8{font-size:3.9em;color:#264CA2;z-index:2}
.tagcloud8 a{color:#264CA2}
.tagcloud9{font-size:4.2em;color:#133B97;z-index:1}
.tagcloud9 a{color:#133B97}
.tagcloud10{font-size:4.5em;color:#002A8B;z-index:0}
.tagcloud10 a{color:#002A8B}
.freq{font-size:10pt !important;color:#bbb}