body
{
font-size:70%;
color:#000000;
background-color:#f1f1ed;
margin:0px;
}

body, p, h1, h2, h3, table, td, th, ul, ol, textarea, input
{
font-family: verdana,helvetica,arial,sans-serif;
}

iframe
{
margin:0px;
}

table, th, td, input, textarea
{
font-size: 100%;
}

table.oldex
{
color:#000000;
background-color:#f1f1ed;
font-size: 100%;
padding:0px;
}

table.example
{
color:#000000;
background-color:#E5EAEF;
font-size: 100%;
padding:6px;
border:1px solid gray;
}

table.example_code
{
color:#000000;
background-color:#f5f5f5;
background-color:white;
font-size: 100%;
font-family:courier;
padding:5px;
border:1px solid gray;
}

h2.example
{
margin-top:0px;
}

p.example_code
{
color:#000000;
background-color:transparent;
font-size:110%;
font-family:courier new;
}

table.code
{
color:#000000;
background-color:#f5f5f5;
font-size: 100%;
font-family:courier;
padding:5px;
border:1px solid gray;
}

p.code
{
color:#000000;
background-color:transparent;
font-size:110%;
font-family:courier new;
}

table.browser
{
color:#000000;
background-color:#E5EAEF;
font-size: 100%;
padding:0px;
border-top: 1px solid gray;
border-left: 1px solid gray;
border-bottom: 0px solid gray;
border-right: 0px solid gray;
}

table.browser th, table.browser td 
{
padding-bottom:2px;
border-top: 0px solid gray;
border-left: 0px solid gray;
border-bottom: 1px solid gray;
border-right: 1px solid gray;
}

table.browser td 
{
background-color:#FFFFFF;
padding-bottom:2px;
border-top: 0px solid gray;
border-left: 0px solid gray;
border-bottom: 1px solid gray;
border-right: 1px solid gray;
}

table.ex
{
color:#000000;
background-color:#f1f1ed;
font-size: 100%;
padding:0px;
border-top: 1px solid gray;
border-left: 1px solid gray;
border-bottom: 0px solid gray;
border-right: 0px solid gray;
}

table.ex th, table.ex td 
{
padding-bottom:2px;
border-top: 0px solid gray;
border-left: 0px solid gray;
border-bottom: 1px solid gray;
border-right: 1px solid gray;
}

table.tip
{
color:#000000;
background-color:#ffffff;
font-size: 100%;
border:1px solid;
}

table.db
{
color:#000000;
background-color:#ffffff;
font-size:100%;
}

th.db
{
color:#000000;
background-color:#f1f1ed;
}

div {width:100%;}

h1 {font-size:160%;}
h2 {font-size:120%;margin-top:10px;margin-bottom:10px;}
h3 {font-size:110%;}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

h2.home
{
margin-top:0px;
margin-bottom:5px;
font-size:120%;
padding-top:1px;
padding-bottom:1px;
padding-left:1px;
color:#900B09;
background-color:#ffffff;
}

h2.tutheader
{
margin-top:0px;
margin-bottom:5px;
font-size:120%;
padding-top:2px;
padding-bottom:2px;
padding-left:4px;
color:#404040;
background-color:#f1f1ed;
border:1px solid #c3c3c3;
}

h2.right
{
text-align:center;
font-size:100%;
margin-top:0px;
margin-bottom:0px;
padding-top:0px;
padding-bottom:2px;
padding-left:0px;
color:#ffffff;
background-color:#808080;
}

div.w3left {color:#900B09;background-color:#f1f1ed;}

td.menu{color:#900B09;background-color:#f1f1ed;}
td.deprecated {color: #FF0000;background-color:transparent}
td.red {color: #FF0000;background-color:transparent;}
p.red {color: #FF0000;background-color:transparent;}

p.intro
{
font-size:100%;
font-weight:bold;
color:#000000;
background-color:transparent;
margin-top:10px;
}

p.introcenter
{
text-align:center;
font-size:110%;
color:#8B4513;
background-color:transparent;
}

p.deprecated
{
font-size:100%;
font-weight:bold;
color:#000000;
background-color:transparent;
margin-top:10px;
}

pre
{
font-family:"Courier New",monospace;
font-size:110%;
margin-left: 0;
margin-bottom: 0;
}

pre.intro
{
font-family:Verdana,"Courier New",monospace;
font-size:120%;
font-weight:bold;
margin:8px;
}

span.blue
{
color:#00008B;
background-color:transparent;
}

span.rssblue
{
color:#0000ff;
background-color:transparent;
}

span.red
{
color:#FF0000;
background-color:transparent;
}

span.ieonly
{
color:#000080;
background-color:transparent;
font-size:80%;
}

span.t
{
color:#0033cc;
background-color:transparent;
font-size:80%;
}

span.marked
{
color:#FF0000;
background-color:transparent;
}

img.float
{
float:left;
}

img.navup
{
vertical-align: middle;
}

h1, h2, h3
{
background-color:transparent;
color:#000000;
}

h1.att, h2.att, h3.att, hr.att
{
background-color:transparent;
color:#000000; 
}

hr
{
background-color:#b1b1b1;
color:#b1b1b1;
height:1px;
border:0px;
}

table.front
{
color:#000000;
background-color:#f1f1ed;
}

th.front
{
color:#ffffff;
background-color:#666666;
}

td.front
{
color:#000000;
background-color:#f1f1ed;
}

table.topnav
{
padding-left:3px;
}

td.topnav
{
font-size:85%;
font-weight:bold;
background-color:transparent;
color:#404040;
}

a.nounderline{text-decoration:none}

a:link    {color:#900B09; background-color:transparent}
a:visited {color:#900B09; background-color:transparent}
a:active  {color:#FF0000; background-color:transparent}
a:hover   {color:#FF0000; background-color:transparent}

a.left:link    {text-decoration:none;color:black;background-color:transparent}
a.left:visited {text-decoration:none;color:black;background-color:transparent}
a.left:hover   {text-decoration:underline;color:black;background-color:transparent}
a.left:active  {text-decoration:underline;color:black;background-color:transparent}

a.aright:link    {text-decoration:none;color:#900B09;background-color:transparent}
a.aright:visited {text-decoration:none;color:#900B09;background-color:transparent}
a.aright:hover   {text-decoration:underline;color:#FF0000;background-color:transparent}
a.aright:active  {text-decoration:underline;color:#FF0000;background-color:transparent}

a.topnav:link    {text-decoration:none;color:#404040;background-color:transparent}
a.topnav:visited {text-decoration:none;color:#404040;background-color:transparent}
a.topnav:hover   {text-decoration:underline;color:#404040;background-color:transparent}
a.topnav:active  {text-decoration:underline;color:#404040;background-color:transparent}

a.red:link    {color:#900B09; background-color:transparent}
a.red:visited {color:#900B09; background-color:transparent}
a.red:active  {color:#FF0000; background-color:transparent}
a.red:hover   {color:#FF0000; background-color:transparent}

a.black:link    {color:#000000; background-color:transparent}
a.black:visited {color:#000000; background-color:transparent}
a.black:active  {color:#000000; background-color:transparent}
a.black:hover   {color:#000000; background-color:transparent}

a.example    {font-weight:bold}

a.anibutton:link, a.anibutton:visited
{
color: #000000;
border: 2px outset;
text-align: center;
background: #ffff00;
text-decoration: none;
padding: 1px 5px 1px 10px;
line-height: 200%;
}

a.anibutton:hover
{
color: #000000;
border: 2px inset;
background: #ffff10; 
text-decoration: none;
padding: 1px 5px 1px 10px;
line-height: 200%;
}

span.insert
{
	color:#e80000;
	background-color:transparent;
	
}

a.m_item:link    {text-decoration:none;color:white; background-color:transparent}
a.m_item:visited {text-decoration:none;color:white; background-color:transparent}
a.m_item:active  {text-decoration:underline;color:white; background-color:transparent}
a.m_item:hover   {text-decoration:underline;color:white; background-color:transparent}

td.blacknav
{
text-align:center;
color:white;
background-color:transparent;
font-size:10px;
font-weight:bold;
border-top:  1px solid #868686;
border-left: 1px solid black;
border-right:1px solid #868686;
height:20px;
padding-bottom:2px;
}

table.container
{
background-color:#ffffff;
margin-top:0px;
width:904px;
}

table.topad
{
margin-top:4px;
margin-bottom:4px;
}

table.page
{
border:none;
background-color:#ffffff;
color:#000000; 
}

td.left_container
{
color:#900B09;
background-color:#ffffff;
border-bottom:none;
}

th.left
{
color:#404040;
background-color:#f1f1ed;
padding-top:3px;
padding-bottom:4px;
border:1px solid #c3c3c3;
border-bottom:none;
}

td.left
{
color:#900B09;
background-color:#ffffff;
border:1px solid #c3c3c3;
border-top:none;
padding-left:5px;
padding-top:5px;
}

td.right_container
{
color:#900B09;
background-color:#ffffff;
}

table.right
{
color:#000000;
background-color:#ffffff;
border:none;
margin-bottom:0px;
margin-top:6px;
}

th.right
{
color:#404040;
background-color:#f1f1ed;
padding-top:3px;
padding-bottom:4px;
border:1px solid #c3c3c3;
border-bottom:none;
}

td.right
{
color:#000000;
background-color:#ffffff;
border:1px solid #c3c3c3;
border-top:none;
padding-top:3px;
padding-bottom:4px;
}