/*  
Theme Name: Mainstream
Version: 1.7.2
Description: Designed by <a href="http://www.woothemes.com">WooThemes</a>.
Author: WooThemes
Author URI: http://www.woothemes.com
*/

/*-----------------------------------------------

INDEX:

1. SETUP
-1.1 Defaults
-1.2 Hyperlinks

2. SITE STRUCTURE & APPEARANCE
-2.1 Containers
-2.2 Header
-2.3 Navigation
--2.3.1 Drop-downs
-2.4 Introduction
-2.5 Content
-2.6 Sidebar
-2.7 Footer

3. WIDGETS

4. POSTS
-4.1 Typographic Elements
-4.2 Images
-4.3 PageNavi

5. COMMENTSAREA
-5.1 Comments
-5.2 Comments Form
-5.3 Gravity forms

6. GENERAL STYLES

-----------------------------------------------*/



/*-----------------------------*/
/* 1. SETUP */
/*-----------------------------*/

/* 1.1 Defaults */

body  {
	font: 14px Helvetica, Arial, Sans-serif;
	line-height: 1.5;  /*unitless for proper inheritance*/
}

h1, h2, h3, h4, h5, h6  {
	margin: 0;
	font-family: Arial,Helvetica,Sans-serif;
}

h1  {font-size: 30px} h2  {font-size: 24px} h3  {font-size: 20px}
h4  {font-size: 18px} h5  {font-size: 14px} h6  {font-size: 12px}

p  {margin: 18px 0;}

/* 1.2 Hyperlinks */

a:link, a:visited  { text-decoration: none; }
a:hover  { text-decoration: underline; }

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited  {
	text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover  {text-decoration: underline;}


/*-----------------------------*/
/* 2. SITE STRUCTURE & APPEARANCE */
/*-----------------------------*/

/* 2.1 Containers */

#container  {
	width: 960px;
	margin: 0 auto;
}

#main  {
	width: 940px;
	padding: 10px;
}

#main #inside  {
	padding: 20px;
}

/* 2.2 Header */

#header  {
	width: 940px;
	margin: 0 auto -10px auto;
}

#header h1, #header h2  {display: none}

#header img { margin: 15px 0; }

#header #logo  {
	float: left;
	width: 470px;
}

#header #top-ad  {
	float: right;
	width: 470px;
}

/* 2.3 Navigation */

#navigation  {
	position: relative;
	z-index: 1;
	height: 10px;
}

#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none; 
	line-height: 1;
	z-index: 100;
}

#nav li {
	float: left;
	margin: 0 5px 0 0;
}

#nav a:link, #nav a:visited {
	display: block;
	z-index: 100;
	padding: 10px 8px 6px 8px;
/*	text-transform: uppercase;*/
}

#nav li.current_page_item a, #nav li a:hover  {
	text-decoration: none;
}

/* Style drop down list */

#nav li ul { position: absolute; width: 172px; left: -999em; }
#nav li ul li {	margin: 0!important; }
#nav li ul li a { font-size: 12px; width: 156px; }
#nav li ul li a:hover {}
#nav li ul ul {	margin: -26px 0 0 170px; }
#nav li ul li ul li a {	border-width:0 1px 1px 0px; }
#nav li:hover ul, #nav li.sfhover ul { left: auto; }
#nav li:hover ul ul, #nav li.sfhover ul ul { left: -999em; }
#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul { left: auto; }
#nav li:hover, #nav li.hover { position: static; } /* IE7 Fix */

/* 2.4 Introduction */

#introduction  {
	padding-bottom: 1px;
}

#about  {
	position: relative;
	z-index: 0;
	float: left;
	width: 580px;
	margin: 0 0 0 -40px;
	padding: 6px 20px 5px 40px;
}

#about h2  {
	font-size: 28px;
}

#about p  {
	line-height: 20px;
}


#about img  {
	float: left;
	margin: 0 20px 10px 0;
}

#about .fold  {
	position: absolute;
	left: 0;
	bottom: -15px;
	width: 20px;
	height: 15px;
}

#connect  {
	float: left;
	width: 278px;
	margin: 0 0 2px 20px;
}

#connect ul  {

}

#connect ul li  {
	height: 64px;
}

#connect ul li a  {
	display: block;
	height: 34px;
	padding: 15px 0;
	font-size: 14px;
	font-weight: bold;
/*	text-transform: uppercase;*/
	line-height: 16px;
	cursor: pointer;
}

#connect ul li a:hover  {
	text-decoration: none;
}

#connect ul li a img  {
	float: left;
	margin: 0 15px;
}

#connect ul li a span  {
	display: block;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

/* 2.5 Content */

#content  {
	float: left;
	width: 600px;
	margin: 10px 0 0 0;
}

#full-width  {
	width: 940px;
}

h2.result_heading  {
	margin: 0 0 20px 0;
}

/* 2.6 sidebar */

#sidebar  {
	float: left;
	width: 280px;
	margin: 2px 0 0 20px;
}

#sidebar a  {
}

/* 2.7 Footer */

#footer  {
	padding: 20px 0 20px 0;
	text-align: center;
}

#footer p  {
	margin: 7px 0;
	font-weight: bold;
}

#footer ul li  {
	display: inline;
	text-transform: uppercase;
	font-size: 12px;
	margin: 0 6px;
}

#footer ul li a  {
}

#footer ul li.current_page_item a, #footer ul li a:hover  {
}



/*-----------------------------*/
/* 3. WIDGETS */
/*-----------------------------*/

.widget  {
	margin: 0 0 30px 0;
}

.widget h3  {
	position: relative;
	margin: 0 -40px 0 0;
	padding: 5px 40px 5px 10px;
	font-size: 14px;
/*	text-transform: uppercase;*/
}

.widget h3 span.fold  {
	position: absolute;
	display: block;
	right: 0;
	bottom: -15px;
	width: 20px;
	height: 15px;
}

.widget ul  {

}

.widget ul li  {

}

.widget ul li a:link, .widget ul li a:visited  {
	display: block;
	padding: 0 0 0 20px;
	line-height: 30px;
}

.widget ul li a:hover  {
	text-decoration: none;
}

.widget_recent_comments li  {
	padding: 6px 0 6px 20px;
	line-height: 18px;
}

.widget_recent_comments li a  {
	display: inline;
	padding: 0;
	line-height: 18px!important;
}

#searchform  {
	margin: 15px 0 0 0;	
}

#searchform #s  {
	width: 180px;
	padding: 3px 0 3px 5px;
}

#searchform .submit  {
	padding: 2px 0 2px 0;
	text-transform: uppercase;
}

#flickr h3  {
	margin-bottom: 10px;
}

#flickr .flickr_badge_image  {
	margin: 4px 6px;
	float: left;
	width: 75px;
}

#twitter li  {
	margin: 10px 0;
}

#twitter a  {
	display: inline;
	padding: 0;
	line-height: 18px;
}

#ads img  {
	float: left;
	margin: 10px 5px 0 5px;
}

/*-----------------------------*/
/* 4. POSTS */
/*-----------------------------*/

.post  {
	margin: 0 0 20px 0;
}

.post .meta  {
	margin: 0;
	font-style: italic;
}

.post .meta .comments  {
	padding: 0 19px 0 0;
	text-transform: uppercase;
	font-weight: bold;
}

.post .categories a  {
	display: inline;
	font-size: 12px;
	padding: 6px 8px 4px 6px;
}

.post .categories a:hover  {
	text-decoration: none;
}

.entry  {

}

.entry a.more-link  {
	text-transform: uppercase;
	font-weight: bold;
}

.post .tags  {
	margin: 0 0 20px 0;
	clear:both;
}

/* 4.1 Typographic Elements */

.post h2.title  {
	margin: 8px 0 20px 0;
	font-size: 30px;
	line-height: 30px;
}

.post h2.title a:link, .post h2.title a:visited  {

}

.entry h1  {}
.entry h2  {}
.entry h3 {}
.entry h4 {}
.entry h5 {}
.entry h6 {}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6  {
	margin: 0 0 15px 0;
}

.entry blockquote  {
	padding: 10px 30px;
}

.entry blockquote p  {
	margin: 0;
}

.entry ul  {
	margin: 0 0 20px 0;
	padding: 0 0 0 30px;
}

.entry ul ul  {
	margin: 0 0 0 0;
	padding: 0 0 0 15px;
}

.entry ul li  {
	list-style-type: circle;
}

.entry ul li ul li  {
	list-style-type: disc;
}

.entry ol  {
	margin: 0 0 20px 0;
	padding: 0 0 0 30px;
}

.entry ol ol  {
	margin: 0 0 0 0;
	padding: 0 0 0 15px;
}

.entry  ol li  {
	list-style-type: upper-latin;
}

.entry  ol li ol li  {
	list-style-type: lower-latin;
}

/* 4.2 Images */

.entry img  {
}

img.wp-smiley  {
	padding: 0;
}

.entry .alignleft  {
	float: left;
	margin: 10px 15px 10px 0;
}

.entry .alignright  {
	float: right;
	margin: 10px 0 10px 15px;
}

.entry .aligncenter  {
	text-align: center;
}

/* 4.3 Page Navi */

div.Nav  {
	height: 25px;
}

.Nav strong.on  {
	padding: 5px 8px 3px 8px;
}

.Nav a:link, .Nav a:visited  {
	padding: 2px 5px;
	font-weight: bold;
}

/*-----------------------------*/
/* 5. COMMENTSAREA */
/*-----------------------------*/

/* 5.1 Comments */

#comments h3 { 
	font-size: 20px;
	font-weight: normal;
	padding: 10px 0 20px 0;
}

#comments ol.commentlist  {
	margin: 20px 0 0 0;	
}

#comments ol.commentlist li {
	list-style-type:none;
	padding: 10px 0;
}

#comments ol.commentlist li .comment-head {
	margin: 0 0 10px 0;
}

#comments ol.commentlist li .comment-head .avatar img  {
	float: right;
}

#comments ol.commentlist li .comment-head .user-meta span  {
	display: block;
}

#comments ol.commentlist li .comment-head .user-meta span.name  {
	font-weight: bold;
}

#comments ol.commentlist li .comment-head .user-meta span.date  {
	font-size: 11px;
}

#comments ol.commentlist li .comment-head .user-meta span.perma  {
	text-transform: uppercase;
	font-size: 10px;
}

#comments ol.commentlist li .comment-entry p  {
	margin: 0 0 10px 0;
}

#comments div.reply a { font-size:11px; text-decoration:none; text-transform: uppercase; font-weight: bold; }

#comments ul.children { 
	margin:10px 0 0 0;
	padding:0 0 0 22px;
}

#comments ul.children li {
	padding-bottom: 0;
}

#comments .navigation .alignright, #comments .navigation .alignleft { margin:0;}
#comments .navigation a {
	display: block;
	padding: 5px 9px;
	margin-left: 4px;
	font-family:Georgia;
	font-weight:bold;
}

#comments .commentlist #respond #form_wrap {
	padding:0 0 25px;
	margin:0;
	width:auto;
}

#comments .cancel-comment-reply {margin-bottom:10px;}

/* 5.2 Comments Form */

#respond  {
	margin: 20px 0 0 0;
}

#respond h2  {
	margin: 0;
}

#commentform  {
	margin: 20px 0 0 0;
}

#commentform input.txt  {
	width: 207px;
	margin: 0 10px 0 0;	
	padding: 3px 0 3px 5px;
}

#commentform label  {
	font-size: 11px;
	text-transform: uppercase;
}

#commentform textarea  {
	width: 100%;
}

#commentform #submit  {
	padding: 2px 0 2px 0;
	text-transform: uppercase;
}

/* 5.3 Gravity forms */

.gfield {
    margin-bottom: 10px;
}

.gform_wrapper .top_label .gfield_label {
    display:block;
    float:left;
    padding-right:20px;
    width: 100px;
    margin: 5px 0px 4px !important;
}

.gform_wrapper input.button {
    padding: 5px 10px 6px !important;
}

.gform_wrapper input {
    padding: 7px 3px !important;
    border: 1px solid #ccc;
}

.gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea {
    width: 400px !important;
    padding: 7px 3px !important;
    border: 1px solid #ccc;
}

.gform_wrapper .entry img, .gform_wrapper img.thumbnail {
    padding: 0px !important;
    border: 0px !important;
}

ul.top_label .clear-multi {
    clear: none !important;
}

.gform_wrapper .gfield_checkbox, .gform_wrapper .gfield_radio {
    margin-left: 120px !important;
}

img.ui-datepicker-trigger {
    border: 0px !important;
    padding: 0px;
}

/*-----------------------------*/
/* 6. GENERAL STYLES */
/*-----------------------------*/

.floatl  {float: left;}
.floatr  {float: right;}

.alignl  {text-align: left;}
.alignr  {text-align: right;}
.alignc  {text-align: center;}

/* http://sonspring.com/journal/clearing-floats */

html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}