body {
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	background-color: White;	
	background-image : url(/logos/purplebg.gif);

} 

a {
	color: #666699;
}

a:hover {
	color: #CC00CC;
	text-decoration: underline
}

hr{
	height: 1px;
	margin-left : 40px;

}

img {
	border : 0px none;
}

ul {
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	margin-left : 100px;
}

ol {
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	margin-left : 100px;
}

li {
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
}

p {
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	color : Black;
	margin-left :80px;
	margin-right : 40px;
}

h1
{
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	font-size : x-large;
	font-weight : bold;
	color : Black;
	text-align : center;
	width : 100%;
	border-top-width : 1px;
	border-bottom-width : 1px;
	border : 1px solid Black;
	border-left-width : 0px;
	border-right-width : 0px;
	padding : 10px;
	margin-left : 40px;

}

h2
{
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	font-size : larger;
	font-weight : bold;
	color : White;
	padding : 8px;
	width : 90%;
	background : #336699;
	border : 1px solid White;
	margin-left : 40px;
	margin-top : 30px;
}

h3,h4,h5,h6
{
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	color : Black;
	margin-left : 60px;
}


th {
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	background-color : #CCCCFF;
}

td {
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
}

.command {
	font-family : monospace, "Courier New", Courier ;
	font-weight: bold;
	font-size : medium;
	color: #CC0000;
	margin-left : 100px;

}

.stdout{
	font-family : monospace, "Courier New", Courier ;
	font-weight: bold;
	font-size : medium;
	color: Navy;
	margin-left : 100px;
}

code {
	font-family : monospace, "Courier New", Courier ;
	font-weight: bold;
	color: #CC0000;
	font-size : medium;
}

samp {
	font-family : monospace, "Courier New", Courier ;
	font-weight: bold;
	color: Black;
	font-size : medium;
}

.hint {
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	border : 1px #0099CC;
	padding : 8px;
	width : 70%;
	background : #CCFFFF;
	color : #000000;
	margin-left : 100px;
}

.sourcecode {
	font-family : monospace, "Courier New", Courier ;
	border : 1px solid Black;
	padding : 10px;
	width : 70%;
	background : #FFFFCC;
	color : Black;
	margin-left : 100px;
}

.warning {
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	font-weight : bold;
	color : White;
	background : #CC0000;
	border : 1px solid Black;
	padding : 8px;
	width : 70%;
	margin-left : 100px;
}

.date {
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	font-size: smaller;
	color: White;
	background-color: #000000;
	text-align: right;
	padding: 3px;
	border : 1px solid White;
	width : 100%;
	margin-left : 0px;
	margin-right : 0px;
}

.date a {
	color: #ffffcc;
}

.navbar {
	text-align : center;
	text-decoration : none;
	border : 0px none;
	color : White;
}
